body{
	font-family: Helvetica;
}
#b1l, #b2l{
	float: left;
}
#b1p, #b2p, #b3p{
	float: right;
}
#b1l{
	text-align: center;
	width: 70%;
	height: 400px;
	background-color: Snow;
}
#b2l{
	width: 70%;
	height: 400px;
	background-color: Snow;
}
#b1p{
	text-align: center;
	width: 30%;
	height: 150px;
	color: white;
	background-color:SteelBlue;
}
#b2p{
	width: 30%;
	height: 350px;
	color: white;
	background-color:SteelBlue;
}
#b3p{
		background-color:Snow;
		width: 30%;
	    height: 300px;
		text-align: center;
}
#stopka{
	       position:absolute;
	       bottom:0;
	       color: white;
	       background-color:SteelBlue;
}
#h2{
	font-size: 250%;
}
#img{
     padding: 4px;
}